<section>

  <header class="page-header">
    <h1>Empty Cart</h1>
  </header>

  <div class="alert alert-danger">
    <h4>Looks like you forgot to add stuff to your cart.</h4>
  </div>

  <%= link_to "Go to home page", root_path, class: 'btn btn-lg btn-primary' %>

</section>
