<section>
<div class="jumbotron">
      <div class="container">
        <h1>About Us</h1>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam enim eros, bibendum vitae feugiat ut, pharetra et nulla. Nunc a ante sit amet augue tempor dignissim ac vitae metus. Cras a aliquam nulla, at fermentum eros. Nam tincidunt feugiat ex, vitae pulvinar sem molestie vel.</p>
        <p>  <%= link_to "Go to home page", root_path, class: 'btn btn-lg btn-primary' %></p>
      </div>
    </div>
</section>
